In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [5]:
del stats["Unnamed: 0"]

In [6]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

**MOST ML MODELS DON'T RUN WELL WITH NULL VALUES IN ITS DATA.**

**SO NOW WE REMOVE ANY NULL VALUES PRESENT IN THE DATA**

In [7]:
pd.isnull(stats)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14088,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14089,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14090,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14091,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

**WE  SEE UNDEFINED OR MISSING VALUES IN THE PERCENTAGES(%) FIELDS**

**NOW ANALYSING THOSE FIELDS**

In [11]:
stats[pd.isnull(stats["3P%"])]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
18,Jack Haley,C,28,LAL,49,9,8.0,0.6,1.7,0.369,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
20,Keith Owens,SF,22,LAL,20,0,4.0,0.5,1.6,0.281,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
30,Benoit Benjamin,C,28,LAL,59,6,12.8,2.3,4.6,0.491,...,0.0,0.0,Los Angeles Lakers,39,43,0.476,23.0,104.2,105.5,-1.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14061,Evan Eschmeyer,C,24,NJN,31,5,12.0,1.2,2.3,0.528,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14062,Gheorghe Mureșan,C,28,NJN,30,2,8.9,1.4,3.0,0.456,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14064,Jim McIlvaine,C,27,NJN,66,53,15.9,1.0,2.3,0.416,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14070,Mark Hendrickson,PF,25,NJN,15,0,4.7,0.3,0.5,0.625,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14071,Michael Cage,C,38,NJN,20,7,12.1,0.6,1.2,0.500,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18

In [16]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14061    Evan Eschmeyer  0.0
14062  Gheorghe Mureșan  0.0
14064     Jim McIlvaine  0.0
14070  Mark Hendrickson  0.0
14071      Michael Cage  0.0

[2042 rows x 2 columns]

In [17]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
13951    Mark McNamara  0.0
13979      Luke Zeller  0.0
14032      Myron Brown  0.0
14054      Malcolm Lee  0.0
14088      Steve Novak  0.0

[462 rows x 2 columns]

**WE SEE HERE THAT PLAYERS WITH ANY UNDEFINED OR MISSING VALUES FOR '3 POINT % (3P%)' HAVE 0 '3 POINT ATTEMPTS (3PA)'**

**ALSO THAT PLAYERS WITH ANY UNDEFINED OR MISSING VALUES FOR 'FT %' HAVE 0 'FT ATTEMPTS'**

**SO NOW WE REPLACE THESE MISSING VALUES IN '3 POINT % (3P%)' WITH 0**

**EVEN THOUGH THIS IS NOT TECHNICALLY CORRECT BUT STILL A PLAYER WITH NO '3 POINT ATTEMPTS (3PA)' IS NOT POSSIBLE TO WIN THE MVP ANYWAY**

In [19]:
stats = stats.fillna(0)

In [20]:
pd.isnull(stats).sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64